<app-top-bar></app-top-bar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <app-index-selector></app-index-selector>
  </mat-drawer>

  <button #drawerToggle type="button" mat-button (click)="drawer.toggle()">
    <mat-icon *ngIf="!drawer.opened">arrow_forward_icon</mat-icon>
    <mat-icon *ngIf="drawer.opened">arrow_backward_icon</mat-icon>
  </button>

  <div class="example-sidenav-content">Test contents</div>
</mat-drawer-container>
