.example-container {
  width: auto;
  min-height: -webkit-calc(100vh - 65px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

#drawerToggle {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

router-outlet {
  height: 100%;
  width: 100%;
}
