<mat-toolbar class="mat-primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>multiline_chart</mat-icon>
  </button>
  <span class="hide-small">Workstation Monitor</span>

  <button
    #searchButton
    mat-raised-button
    color="accent"
    type="button"
    ngxFilePicker
    accept=".h5"
    multiple
    #myFilePicker="ngxFilePicker"
    (readStart)="onReadStart($event)"
    (filePick)="onFilePicked($event)"
    (readEnd)="onReadEnd($event)"
  >
    Choose Log File (HDF/H5)
  </button>

  <span class="example-spacer"></span>
  <a
    href="https://github.com/Brucknem/workstation-monitor"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with github branch icon"
  >
    <mat-icon>code</mat-icon>
  </a>
</mat-toolbar>
