mat-drawer-container {
  width: auto;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

mat-sidenav {
  padding: 1em;
}

mat-sidenav-content {
  width: auto;
  min-height: 100vh;
  padding: 1em;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
