mat-drawer-container {
  width: auto;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

mat-drawer {
  padding: 20px;
}

mat-drawer-content {
  height: 100%;
  padding: 16px;
}

#drawerToggle {
  /*position: absolute;*/
  margin: 10px;
}
