<div>
  <mat-form-field appearance="fill">
    <mat-label>Devices</mat-label>
    <mat-select
      #deviceSelect
      [ngModel]="selectedDeviceType"
      (selectionChange)="deviceTypeSelectionChanged.emit($event.value)"
    >
      <mat-option
        *ngFor="let value of values | keyvalue"
        value="{{ value.key }}"
        routerLink="/"
      >
        {{ value.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="deviceSelect.value">
  <mat-form-field appearance="fill">
    <mat-label>{{ deviceSelect.value }}</mat-label>
    <mat-select
      multiple
      (selectionChange)="devicesSelectionChanged.emit($event.value)"
    >
      <mat-option
        *ngFor="let name of values[deviceSelect.value]"
        routerLink="/graph/{{ selectedDeviceType }}/{{
          selectedDevices || '-'
        }}/{{ selectedValueColumns || '-' }}"
        [value]="name"
      >
        {{ name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
