<div>
  <mat-form-field appearance="fill">
    <mat-label>Devices</mat-label>
    <mat-select
      #deviceSelect
      (selectionChange)="onSelectDeviceType($event)"
      [(value)]="selectedDeviceType"
    >
      <mat-option
        *ngFor="let value of values | keyvalue"
        value="{{ value.key }}"
      >
        {{ value.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  {{ deviceSelect.value }}
</div>
<div *ngIf="deviceSelect.value">
  <mat-form-field appearance="fill">
    <mat-label>{{ deviceSelect.value }}</mat-label>
    <mat-select multiple (selectionChange)="onSelectDevice($event)">
      <mat-option
        *ngFor="let name of values[deviceSelect.value]"
        value="{{ deviceSelect.value.key }};{{ name }}"
      >
        {{ name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
