[Unit]
Description=Workstation Monitor
After=syslog.target

[Service]
User=brucknem
PIDFile=/run/wsmon.pid
ExecStartPre=/bin/rm -f /run/wsmon.pid
ExecStart=/bin/bash /home/brucknem/Repositories/workstation-monitor/src/backend/workstation-monitor-service.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
