<hr>
<div id="{{ type }}-select" class="list-group">
    {% for value in values %}
        <li class="nav-item">
            <a id="nav-item-{{ type }}-{{ value }}" class="nav-link nav-item-logs nav-item-{{ type }}" href="#">
                {{ icon|safe }}
                <span>
                {{ value }}
            </span>
            </a>
        </li>
    {% endfor %}
</div>
<script>
    $(".nav-item-{{type}}").click(function () {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active')
        } else {
            $(this).addClass('active')
        }

        selected_columns = []
        $(".nav-item-logs.active").each(function () {
            selected_columns.push($(this).find('span').html().trim())
        })

        $.ajax({
            url: "/show_log",
            type: "get",
            data: {selected_columns: JSON.stringify(selected_columns)},
            success: function (response) {
                console.log(response)
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    })
</script>