{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Logs from {{ log_path }} {% endblock %}</h2>

    <hr>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group-vertical" role="group" aria-label="Log files">
        {% for log_file in log_files %}
            <a href="{{ url_for('log', log_file=log_file)}}" 
            class="btn btn-light log_btn" 
            style="text-align:left">{{log_file}}</a>
        {% endfor %}
        </div>
    </div>
    </form>

    <hr>
    
</div>
{% endblock %}
