{% if log_paths %}
{% for log_path in log_paths %}
<li class="nav-item nav-item-log-file">
  <a class="nav-link nav-item-log-file-link" href="#">
    {{icon|safe}}
    <span>
      {{ log_path }}
    </span>
  </a>
</li>
{% endfor %}

{% else %}
<li class="nav-item nav-item-log-file">
  <a class="nav-link nav-item-log-file-link" href="#">
    {{icon|safe}}
    <span>
      No logs found
    </span>
  </a>
</li>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $('.nav-item-log-file-link').click(function () {
    $('.nav-item-log-file-link').each(function () {
      $(this).removeClass('active');
    })
    $(this).addClass('active');
    console.log($(this));

    $.ajax({
      url: "/load_log",
      type: "get",
      data: { selected_log: $(this).find('span').text() },
      success: function (response) {
        $('#indices-select-wrapper').html(response['indices-select'])
        $('#values-select-wrapper').html(response['values-select'])
      },
      error: function (xhr) {
        console.log(response)
      }
    });
  })
</script>