<ng-container *ngIf="expanded">
  <div *ngFor="let log of logsService.getLogNames() | async">
    <button
      mat-button
      (click)="deleteLog(log)"
      matTooltip="The previously loaded {{
        log
      }} log. Click to remove from cache."
      style="display: flex"
    >
      <mat-icon matListIcon>description</mat-icon>
      <span>{{ log }}</span>
    </button>
  </div>
</ng-container>
<br *ngIf="expanded && (logsService.getLogNames() | async).length > 0" />
<div>
  <input
    style="display: none"
    type="file"
    (change)="onFileChanged($event)"
    #fileInput
  />
  <button mat-button (click)="fileInput.click()">
    <mat-icon matListIcon>note_add</mat-icon>
    <span *ngIf="expanded">Add Log File (JSON)</span>
  </button>
</div>
