<div class="centering">
  <mat-icon *ngIf="!expanded" color="primary">queue_play_next</mat-icon>
  <span *ngIf="expanded">Workstation Monitor</span>
</div>

<hr />
<app-logs-list [expanded]="expanded"></app-logs-list>
<hr />
<app-add-button [expanded]="expanded"></app-add-button>

<br />

<button
  mat-mini-fab
  id="drawerToggle"
  color="primary"
  (click)="expanded = !expanded"
>
  <mat-icon *ngIf="expanded">arrow_back</mat-icon>
  <mat-icon *ngIf="!expanded">arrow_forward</mat-icon>
</button>
