<h1 mat-dialog-title>Add a new dashboard card</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Select log</mat-label>
    <mat-select
      [ngModel]="selectedLog"
      (selectionChange)="logSelectedEvent.emit($event.value)"
    >
      <mat-option
        *ngFor="let value of availableLogs | async"
        value="{{ value }}"
      >
        {{ value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
