<mat-form-field appearance="fill">
  <mat-label>Indices</mat-label>
  <mat-select [formControl]="selectedIndices" multiple>
    <mat-option *ngFor="let index of indices" [value]="index">{{
      index
    }}</mat-option>
  </mat-select>
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>Columns</mat-label>
  <mat-select [formControl]="selectedColumns" multiple>
    <mat-option *ngFor="let column of columns" [value]="column">{{
      column
    }}</mat-option>
  </mat-select>
</mat-form-field>
