<mat-accordion multi>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Device</mat-panel-title>
    </mat-expansion-panel-header>
    <app-index-dropdown
      #indexDropdown
      [values]="indices"
      (deviceTypeSelectionChanged)="onSelectDeviceType($event)"
      (devicesSelectionChanged)="onSelectDevices($event)"
    ></app-index-dropdown>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="valueColumns">
    <mat-expansion-panel-header>
      <mat-panel-title>Values</mat-panel-title>
    </mat-expansion-panel-header>
    <app-selection-list
      [values]="valueColumns"
      [selectedDeviceType]="indexDropdown.selectedDeviceType"
      [selectedDevices]="indexDropdown.selectedDevices"
      (selectValueColumns)="onSelectValueColumns($event)"
    ></app-selection-list>
  </mat-expansion-panel>
</mat-accordion>
